# Configuración de la base de datos PostgreSQL
#DB_HOST=localhost
#DB_PORT=5432
#DB_USER=postgres
#DB_PASSWORD=root
#DB_NAME=parcialsw


DATABASE_URL=postgresql://postgres:dpBoVbqnIggkFsgZlfCYIqIAPIyXJrfK@maglev.proxy.rlwy.net:39379/railway

# Configuración JWT
SECRET_KEY=your-secret-key-here-change-this-in-production

# Configuración de la aplicación
DEBUG=True
HOST=0.0.0.0
PORT=8000

# URL del frontend (para producción)
FRONTEND_URL=https://sw1frontend-primerparcial-production.up.railway.app